{{ range .Site.Data.events }}
    {{ $event := index . 0 }}
    {{ $page := dict 
        "kind" "page" 
        "path" $event.slug
        "title" $event.title
        "slug" $event.slug
        "layout" "event"
    }}
    {{ $.AddPage $page }}
{{ end }}
