<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="icon" href="{{ `logo.svg` | relURL }}" sizes="any" type="image/svg+xml">
    <link rel="stylesheet" href="{{ `css/style.css` | relURL }}">
</head>

<body>
    <header>
        <div class="container">
            <a class="quiet" href="{{ .Site.BaseURL }}">
                <h1 class="logo-text no-spacing">FOSDEM<span>'{{ now.Format "06" }}</span></h1>
            </a>
            <nav>
                <ul class="no-spacing" style="list-style: none">
                    {{- range .Site.Menus.main }}
                        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                    {{- end }}
                    <li><a href="{{ `search/` | relURL }}">Search</a></li>
                </ul>
            </nav>
            <label class="dark-mode-toggle">
                <input type="checkbox" id="darkModeCheckbox">
                Dark Mode
            </label>

            <script>
                const checkbox = document.getElementById('darkModeCheckbox');

                const savedTheme = localStorage.getItem('theme');
                const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
                const theme = savedTheme || (prefersDark ? 'dark' : 'light');
                document.documentElement.setAttribute('data-theme', theme);
                checkbox.checked = theme === 'dark';

                // Toggle dark mode.
                checkbox.addEventListener('change', () => {
                    const newTheme = checkbox.checked ? 'dark' : 'light';
                    document.documentElement.setAttribute('data-theme', newTheme);
                    localStorage.setItem('theme', newTheme);
                });
            </script>
        </div>
    </header>

    <main>
        {{ block "main" . }}{{ end }}
    </main>

    <footer>
        <div class="container">
            <hr />
            <div class="left-column">
                <div class="logo"></div>
                <div>
                    <h1 class="logo-text no-spacing">FOSDEM<span>'{{ now.Format "06" }}</span></h1>
                    <p class="no-spacing">{{ .Site.Params.Location }} / {{ .Site.Params.DateFull }}</p>
                </div>
            </div>

            <br />

            <div class="left-column">
                <img src="{{ .Site.BaseURL }}/by.svg" />
                <div>
                    <small>
                        <p class="no-spacing">This work is licensed under the Creative Commons Attribution 4.0
                            International.</p>
                        <p class="no-spacing">To view a copy of this licence, visit <a class="quiet"
                                href="https://creativecommons.org/licenses/by/4.0/deed.en"
                                target="_blank">https://creativecommons.org/licenses/by/4.0/deed.en</a>
                        </p>
                        <p class="no-spacing">or send a letter to Creative Commons, 444 Castro Street, Suite 900,
                            Mountain View,
                            California, 94041, USA.</p>
                        <p class="no-spacing">All content such as talks and biographies is the sole responsibility of
                            the speaker.</p>
                    </small>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>