{{ define "main" }}

{{ partial "bar.html" . }}

<div class="container">
    {{ partial "breadcrumbs.html" . }}

    <h1>{{ .Title }}</h1>

    {{ $events := index .Site.Data.events .Slug }}
    {{ $event := index $events 0 }}

    <p data-pagefind-filter="track">{{ $event.track }}</p>
    <p>{{ $event.abstract }}</p>

    <video preload="none" controls="controls" width="100%">
        <source src="#" type="video/mp4"/>
    </video>

    <h1>Speakers</h1>
    <ul>
        {{ range $event.persons }}
            {{ $url := printf "schedule/speakers/%s" .guid }}
            <li><a href="{{ $url | relURL }}" data-pagefind-filter="speaker">{{ .name }}</a></li>
        {{ end }}
    </ul>

    <h1>Links</h1>

    <p>TODO</p>
</div>

{{ end }}