{{ define "main" }}

{{ partial "bar.html" . }}

<div class="container">
    {{ partial "breadcrumbs.html" . }}

    <h1>{{ .Title }}</h1>

    <p>
        All times are <b>CET (UTC+1)</b>.
    </p>

    <p>
        An overview of <a href="{{ `schedule/roomtracks/` | relURL }}">room occupation by track</a> is available, too.
    </p>

    <h1>Rooms Live in Brussels</h1>

    <p>
        The content in the first set of rooms is broadcast live from Brussels. Attend in person, subject to room
        capacity, or follow the links to watch online.
    </p>

    <table>
        <thead>
            <tr>
                <th></th>
                <th>Physical Room</th>
                <th>Seats</th>
                <th>Saturday</th>
                <th>Sunday</th>
            </tr>
        </thead>
        <tbody>
            {{ range .Site.Data.schedule.conference.rooms }}
                {{ template "room-row" dict "room" . "roominfo" (index $.Site.Data.roominfo .name) }}
            {{ end }}
        </tbody>
    </table>
</div>

{{ end }}

{{ define "room-row" }}
{{ $url := printf `schedule/room/%s` .room.slug }}
<tr>
    <td></td>
    <td><a href="{{ $url | relURL }}">{{ .room.description }}</a></td>
    <td>{{ .room.capacity }}</td>
    <td>{{ with .roominfo }}{{ with .saturday }}{{ .time }}: {{ range $i, $t := .tracks }}{{ if $i }}, {{ end }}<a href="{{ printf "schedule/track/%s/" $t.slug | relURL }}">{{ $t.name }}</a>{{ end }}{{ end }}{{ end }}</td>
    <td>{{ with .roominfo }}{{ with .sunday }}{{ .time }}: {{ range $i, $t := .tracks }}{{ if $i }}, {{ end }}<a href="{{ printf "schedule/track/%s/" $t.slug | relURL }}">{{ $t.name }}</a>{{ end }}{{ end }}{{ end }}</td>
</tr>
{{ end }}
