{{ define "main" }}

{{ partial "bar.html" . }}

<div class="container">
    {{ partial "breadcrumbs.html" . }}

    <h1>{{ .Title }}</h1>

    <p>
        All times are <b>CET (UTC+1)</b>.
    </p>

    <p>
        An overview of <a href="{{ `schedule/roomtracks/` | relURL }}">room occupation by track</a> is available, too.
    </p>

    <h1>Rooms Live in Brussels</h1>

    <p>
        The content in the first set of rooms is broadcast live from Brussels. Attend in person, subject to room
        capacity, or follow the links to watch online.
    </p>

    <table>
        <thead>
            <tr>
                <th></th>
                <th>Physical Room</th>
                <th>Seats</th>
                <th>Saturday</th>
                <th>Sunday</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>TODO</td>
            </tr>
        </tbody>
    </table>
</div>

{{ end }}