{{ define "main" }}

<div class="landing-article">
    <p><a href="{{ .Site.Home.RelPermalink }}">&larr; FOSDEM {{ .Site.Params.Year }}</a></p>

    <h1>{{ .Title }}</h1>

    {{ range (.Paginate .Pages.ByDate.Reverse).Pages }}
    <article class="news-post">
        <h2 class="news-post-title"><a href="{{ .RelPermalink }}">{{ partial "title.html" . }}</a></h2>
        <p class="landing-date-small"><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2 January 2006" }}</time></p>

        {{ .Content }}

        {{ partial "calendar-link.html" . }}
    </article>
    {{ else }}
    <p>No news yet.</p>
    {{ end }}

    {{ partial "pagination.html" . }}
</div>

{{ end }}
